@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(http://fonts.gstatic.com/s/materialicons/v12/2fcrYFNaTjcS6g4U3t-Y5RV6cRhDpPC5P4GCEJpqGoc.woff) format('woff');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -moz-font-feature-settings: 'liga';
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-shadow: none !important;
    text-shadow: none!important;
}
/* ===========================
    $ GLOBAL STYLE
============================== */

html .content {
    color: #444;
}
body:not(.home-content) {
    background-color: rgb(230,230,230);
}
.content h1 {
    font-family: "Roboto Condensed";
    font-weight: 200;
    padding-bottom: 10px;
    border-bottom: 2px solid #EE836E; 
}
.content h2 {
    font-family: "Roboto Condensed";
    font-size: 3rem;
    margin-bottom: 3rem;
}
.content section:not(.bg-banner) {
    padding: 40px 0;
    position: relative;
}
.container {
    margin-bottom: 20px;
}
.content img {
    max-width: 100%;
}
.style-text-2 {
    font-size: 18px;
    font-weight: 300;
    color: #656565;
}

.top-section:not(.no-bottom-style)::before {
    content: "";
    position: absolute;
    bottom: -40px;
    left: 50%;
    height: 70px;
    width: 2px;
    border-left: 2px solid #EE836E; 
}

.top-section:not(.no-bottom-style)::after {
    content: "";
    position: absolute;
    bottom: -40px;
    width: 100%;
    height: 2px;
    border-top: 2px solid #EE836E;  
}
nav ul a {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.5px;
}
.transition-hover {
    -webkit-transition: all 0.2s ease-in;
            transition: all 0.2s ease-in; 
}
nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
    height: 80px;
    line-height: 80px;
}
i.right {
    float: right;
    margin-left: 3px;
}

/* FORM */

.select-wrapper input.select-dropdown {
    border: 1px solid rgba(238, 131, 110, 0.6);
    padding: 5px 5px 5px 20px;
    color: rgba(238, 131, 110, 0.6);
    font-size: 1.25rem;
    font-weight: 400;
}
.select-wrapper span.caret {
    top: 22px;
    color: rgba(238, 131, 110, 0.6);
}
.select-dropdown li.optgroup > span {
    background-color: #444;
    color: #fff;
    text-transform: uppercase;
}

.input-field label {
    color: rgba(238,131,110,0.6);
}
[type="submit"] {
    background-color: #EE836E;
    color: #fff;
    padding: 15px 30px;
    text-transform: uppercase;
    font-weight: 500;
    border: 1px solid transparent;
    border-radius: 4px;
    word-spacing: 0.5px;
}
input:checked {
    border-top: 1px solid red;
    border-left: 1px solid red;
    border-bottom: 1px solid red;
    border-right: 1px solid red;
}
.input-field {
    margin-bottom: 20px;
}
.form-add-cour {
    margin-bottom: 100px;
}
/* ===========================
    $ LOGIN PAGE
============================== */

section.login-page {
    min-height: 100vh;
    width: 100%;
    background: url("../img/studyshare-grenoble.jpg") no-repeat scroll center center / cover;;
}
.login-box {
    width: 600px;
    margin: 0 auto;
    max-width: 100%;
    background-color: #fff;
    padding: 50px;
    text-align: center;
}
.login-box .logo {
    display: inline-block;
    border: 1px solid #EE836E;
    color: #EE836E;
    padding: 20px 10px 15px;
    margin: 0px;
    font-size: 3rem;
    line-height: 0.45;
    text-transform: uppercase;
    font-weight: 200;
    text-align: center;

}

    .login-box  .logo span {
         font-size: 0.85rem;
         display: inline-block;
         padding-left: 5px;
         color: #444;
         font-weight: 500;
         word-spacing: 1.25px;
     }
.login-box p {
    color: #888;
    font-weight: 200;
    font-size: 20px;
    margin-top: 30px;
}
#LoginForm {
    text-align: left;
}
.login-box .input-field input  {
    color: #26A69A;
}
.login-box .input-field .prefix {
    bottom: 20px;
}
.pw-forget {
    display: block;
    text-align: left;
    margin-top: 20px;
}
/* ===========================
    $ HEADER
============================== */

.global-header nav.nav-wrapper {
    height: 80px;
    line-height: 80px;
}

.global-header .logo,
  .global-header .header-description {
    padding: 20px 10px 0px;
    margin: 0px;
    height: 100%;
    float: left;
    font-size: 3rem;
    line-height: 0.45;
    text-transform: uppercase;
    font-weight: 200;
}
.global-header .logo span {
    font-size: 0.85rem;
    display: inline-block;
    padding-left: 5px;
    color: #444;
    font-weight: 500;
   word-spacing: 1.25px;
}

.global-header .header-description {
    color:#ee836e;
}
.global-header nav {
    background-color: #ee836e;
}
.dropdown-content li {
    color: #EE836E;
    border-bottom: 1px solid #ccc;
    text-align: center;
}
.dropdown-content li > a, .dropdown-content li > span {
    color: #EE836E;
}


/* ===========================
    $ FOOTER
============================== */
.global-footer {
    background-color: #555;
    color: #fff;
}
.global-footer .container,
  .global-footer .row {
    margin-bottom: 0;
}

.footer-links li {
    display: inline-block;
    margin-right: 12px;
}
.footer-links li::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-left: 13px;
    width: 1px;
    height: 10px;
    border-left: 1px solid #ee836e;
}
.footer-links li:last-child {
    margin-right: 0;
}
.footer-links li:last-child::after {
    display: none;
}
/* ===========================
    $ USER BOX
============================== */
.user-box {
    background-color: #555;
    padding: 10px 20px ;
    color: #fff;
}
/* .user-box .user-box--identity {
    padding: 10px;
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 5px;
} */
.user-box--identity img {
    width: 40px;
    display: inline-block;
    vertical-align: middle;
}
.user-box--identity p {
    display: inline-block;
    vertical-align: middle;
    padding-left: 10px;
    font-size: 1.15rem;
    border-left: 2px solid #ee836e;
    margin: 0 0 0 20px;
    font-size: 13px
}
.user-box--identity a {
   border-bottom: 1px solid;
}
.user-box .logout {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    line-height: 28px;
    text-align: center;
    border: 1px solid;
    border-radius: 50%;
    margin-left: 20px;
}
/* TEACHER */

.user-box--teacher-admin {
    margin-right: 40px;
}
    .user-box--teacher-admin ul {
        margin: 5px 0;
    }
        .user-box--teacher-admin li {
            display: inline-block;
            margin-left: 30px;

        }
            .user-box--teacher-admin a {
                display: block;
                text-transform: uppercase;
                font-weight: 300;
            }
            .user-box--teacher-admin li:first-child em::before {
                content: "+";
            }
            .user-box--teacher-admin li:nth-child(2) em::before {
                content: "⇔";
            }
            .user-box--teacher-admin a em::before {
                display: inline-block;
                margin-right: 15px;
                width: 30px;
                height: 30px;
                line-height: 28px;
                text-align: center;
                font-style: initial;
                border-radius: 50%;
                font-size: 28px;
                background-color: #fff;
                vertical-align: middle;
                transition: all 0.2s ease-in;
            }
            .user-box--teacher-admin a:hover em::before {
                -webkit-transform: rotate(720deg);
                transform: rotate(720deg);
                background-color:  #ee836e;
                color: #fff;
            }
/* ===========================
    $ HOME PAGE
============================== */
.bloc-navs {
    text-align: center;
    padding: 25px 0;
}
.bloc-navs nav {
    height: auto;
    color: #444;
    background-color: transparent;
}
.bloc-navs > p {
    color: #fff;
    font-size: 25px;
    margin-bottom: 35px;
    font-weight: 200;
}
.bloc-navs .bloc-navs--nav > span {
    display: block;
    background-color: #EE836E;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 300;
}

.bg-banner {
    margin-top: 40px;
    background: url("../img/studyshare-grenoble.jpg") no-repeat fixed center center / cover;
}

.bloc-navs .bloc-navs--nav > ul {
    border: 1px solid #ee836e;
    background-color: rgba(0,0,0,0.4);
}
.bloc-navs .bloc-navs--nav > ul li {
    float: none;
    border: 0.5px solid rgba(238,131,110, 0.1);
}

.bloc-navs .bloc-navs--nav > ul li a:hover {
    color: #ee836e;
}

.support-img img{
    width: 400px;
}

@media all and (max-width: 992px) {

    /* FOOTER */
    .footer-links {
        text-align: left;
        margin-top: 0;
    }
}