/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar

src/UserBundle/Resources/views/Studyview/student.html.twig~origin_master

src/UserBundle/Resources/views/Studyview/student.html.twig~8aaba53010f4a93aa0f62e1043eb3f3cae09f2e7

src/UserBundle/Resources/views/Studyview/student.html.twig~origin_master

*.twig~8aaba53010f4a93aa0f62e1043eb3f3cae09f2e7
src/UserBundle/Resources/views/Default/index.html.twig
src/UserBundle/Resources/views/Default/index.html.twig
*.twig
src/UserBundle/Resources/views/layout.html.twig
*.xml
app/config/parameters.yml.dist
app/config/security.yml
src/UserBundle/Resources/views/Default/index.html.twig

src/UserBundle/Resources/views/studyview/index.html.twig

src/UserBundle/Resources/views/Default/index.html.twig

src/UserBundle/Resources/views/studyview/index.html.twig
