<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>StudyShare</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/materialize.min.css">
    <link rel="stylesheet" href="css/style.css">

</head>
<body class="home-content">

<header class="global-header">
    <nav class="nav-wrapper">
        <h1 class="logo">
            <a>StudyShare <br> <span>Université Joseph Fournier - <strong>Filière GTE</strong></span></a>
        </h1>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li>
                <a class="dropdown-button" href="#!" data-activates="dropdown1">Mathématiques<i class="material-icons right">arrow_drop_down</i></a>
                <ul id="dropdown1" class="dropdown-content">
                    <li><a href="#!">L1</a></li>
                    <li><a href="#!">L2</a></li>
                    <li><a href="#!">L3</a></li>
                    <li><a href="#!">M1</a></li>
                    <li><a href="#!">M2</a></li>
                </ul>
            </li>
            <li>
                <a class="dropdown-button" href="#!" data-activates="dropdown2">Science de l'ingénieur<i class="material-icons right">arrow_drop_down</i></a>
                <ul id="dropdown2" class="dropdown-content">
                    <li><a href="#!">L1</a></li>
                    <li><a href="#!">L2</a></li>
                    <li><a href="#!">L3</a></li>
                    <li><a href="#!">M1</a></li>
                    <li><a href="#!">M2</a></li>
                </ul>

            </li>
            <li>
                <a class="dropdown-button" href="#!" data-activates="dropdown3">Physique<i class="material-icons right">arrow_drop_down</i></a>
                <ul id="dropdown3" class="dropdown-content">
                    <li><a href="#!">L1</a></li>
                    <li><a href="#!">L2</a></li>
                    <li><a href="#!">L3</a></li>
                    <li><a href="#!">M1</a></li>
                    <li><a href="#!">M2</a></li>
                </ul>

            </li>
            <li>
                <a class="dropdown-button" href="#!" data-activates="dropdown4">Anglais<i class="material-icons right">arrow_drop_down</i></a>
                <ul id="dropdown4" class="dropdown-content">
                    <li><a href="#!">L1</a></li>
                    <li><a href="#!">L2</a></li>
                    <li><a href="#!">L3</a></li>
                    <li><a href="#!">M1</a></li>
                    <li><a href="#!">M2</a></li>
                </ul>

            </li>
        </ul>
    </nav>
    <!--USER BLOC-->
    <section class="user-box row">
        <div class="user-box--identity right">

            <img src="img/user.png" alt="user icon" class="user-logo circle">

            <p>
                John Doe - Étudiant - <strong>L1 GTE</strong><br><a href="#">Modifier mon mot de passe</a>
            </p>
            <a href="#" class="logout">&#x2169;</a>

        </div>
    </section>
</header>


<main class="content">
    <section class="container cours-public">
        <h1>Cours de Mathématiques de License 1</h1>
        <ul class="list-cours-public row">
            <li class="cour-public col s4">
                <a class="cours-public-content">
                    <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2>
                    <p class="cour-date"><i class="material-icons">today</i><span>Date de publication&nbsp;:</span> <br><time datetime="2016-03-20">20-03-2016</time></p>

                    <p class="cour-author"><i class="material-icons">face</i><span>Publié par&nbsp:</span> <br>John Doe - Enseignant en mathématiques</p>
                </a>

            </li>
            <li class="cour-public col s4">
                <a class="cours-public-content">
                    <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2>
                    <p class="cour-date"><i class="material-icons">today</i><span>Date de publication&nbsp;:</span> <br><time datetime="2016-03-20">20-03-2016</time></p>

                    <p class="cour-author"><i class="material-icons">face</i><span>Publié par&nbsp:</span> <br>John Doe - Enseignant en mathématiques</p>
                </a>

            </li>
            <li class="cour-public col s4">
                <a class="cours-public-content">
                    <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2>
                    <p class="cour-date"><i class="material-icons">today</i><span>Date de publication&nbsp;:</span> <br><time datetime="2016-03-20">20-03-2016</time></p>

                    <p class="cour-author"><i class="material-icons">face</i><span>Publié par&nbsp:</span> <br>John Doe - Enseignant en mathématiques</p>
                </a>

            </li>


        </ul>
    </section>
</main>
<footer class="global-footer login-page-footer">
    <div class="container">
        <div class="row">
            <p class="col l6 m12">©StudyShare UJF GTE - 2016</p>
            <ul class="col l6 m12 right-align footer-links">
                <li><a href="#">Mentions légales</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Déconnexion</a></li>
            </ul>
        </div>
    </div>
</footer>
</body>
<script src="http://code.jquery.com/jquery-2.2.0.min.js"></script>
<script src="js/materialize.min.js"></script>
</html>