<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>StudyShare</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/materialize.min.css">
    <link rel="stylesheet" href="css/style.css">

</head>
<body class="home-content">

<header class="global-header">
    <nav class="nav-wrapper">
        <h1 class="logo">
            <a>StudyShare <br> <span>Université Joseph Fournier - <strong>Filière GTE</strong></span></a>
        </h1>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li>
                <a class="dropdown-button" href="#!" data-activates="dropdown1">Mathématiques<i class="material-icons right">arrow_drop_down</i></a>
                <ul id="dropdown1" class="dropdown-content">
                    <li><a href="#!">L1</a></li>
                    <li><a href="#!">L2</a></li>
                    <li><a href="#!">L3</a></li>
                    <li><a href="#!">M1</a></li>
                    <li><a href="#!">M2</a></li>
                </ul>
            </li>
            <li>
                <a class="dropdown-button" href="#!" data-activates="dropdown2">Science de l'ingénieur<i class="material-icons right">arrow_drop_down</i></a>
                <ul id="dropdown2" class="dropdown-content">
                    <li><a href="#!">L1</a></li>
                    <li><a href="#!">L2</a></li>
                    <li><a href="#!">L3</a></li>
                    <li><a href="#!">M1</a></li>
                    <li><a href="#!">M2</a></li>
                </ul>

            </li>
            <li>
                <a class="dropdown-button" href="#!" data-activates="dropdown3">Physique<i class="material-icons right">arrow_drop_down</i></a>
                <ul id="dropdown3" class="dropdown-content">
                    <li><a href="#!">L1</a></li>
                    <li><a href="#!">L2</a></li>
                    <li><a href="#!">L3</a></li>
                    <li><a href="#!">M1</a></li>
                    <li><a href="#!">M2</a></li>
                </ul>

            </li>
            <li>
                <a class="dropdown-button" href="#!" data-activates="dropdown4">Anglais<i class="material-icons right">arrow_drop_down</i></a>
                <ul id="dropdown4" class="dropdown-content">
                    <li><a href="#!">L1</a></li>
                    <li><a href="#!">L2</a></li>
                    <li><a href="#!">L3</a></li>
                    <li><a href="#!">M1</a></li>
                    <li><a href="#!">M2</a></li>
                </ul>

            </li>
        </ul>
    </nav>
    <!--USER BLOC-->
    <section class="user-box row">

        <div class="user-box--identity right">

            <img src="img/user.png" alt="user icon" class="user-logo circle">

            <p>
                John Doe - Enseignant - <strong>Chimie</strong><br><a href="#">Modifier mon mot de passe</a>
            </p>
            <a href="#" class="logout">&#x2169;</a>

        </div>
        <div class="user-box--teacher-admin right">
            <ul class="admin-link">
                <li><a href="#"><em class="transition-hover"></em>Ajouter un cours</a></li>
                <li><a href="#"><em class="transition-hover"></em>Gérer mes cours publiés</a></li>
            </ul>
        </div>
    </section>
</header>

<main class="content">
    <section class="top-section no-bottom-style">
        <div class="container center-align">
            <h1>Gérer mes cours</h1>
            <p class="style-text-2">Bienvenue dans votre back office, cette section vous permet de modifier ou supprimer vos cours publiés.</p>
        </div>
    </section>
    <section class="view-manage-cours container">
        <h2>Derniers cours publiés</h2>
        <ul class="list-cours">
            <li>
                <article>
                    <div class="cour-infos">
                        <h3 class="cour-title"><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque odio tempore ut</a></h3>
                        <p class="cour-date"><i class="material-icons">today</i><span>Date de publication&nbsp;:</span> <time datetime="2016-03-20">20-03-2016</time></p>
                        <p class="cour-category"><i class="material-icons">label</i><span>Niveau&nbsp:</span> Physique - L1</p>
                    </div>
                    <div class="cour-actions">
                        
                        <p class="cour-actions-links">
                            <a href="#" class="transition-hover">Modifier</a>
                            <a href="#" class="transition-hover">Supprimer</a>
                        </p>
                    </div>
                </article>
            </li>
            <li>
                <article>
                    <div class="cour-infos">
                        <h3 class="cour-title"><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque odio tempore ut</a></h3>
                        <p class="cour-date"><i class="material-icons">today</i><span>Date de publication&nbsp;:</span> <time datetime="2016-03-20">20-03-2016</time></p>
                        <p class="cour-category"><i class="material-icons">label</i><span>Niveau&nbsp:</span> Physique - L1</p>
                    </div>
                    <div class="cour-actions">
                        
                        <p class="cour-actions-links">
                            <a href="#" class="transition-hover">Modifier</a>
                            <a href="#" class="transition-hover">Supprimer</a>
                        </p>
                    </div>
                </article>
            </li>
            <li>
                <article>
                    <div class="cour-infos">
                        <h3 class="cour-title"><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque odio tempore ut</a></h3>
                        <p class="cour-date"><i class="material-icons">today</i><span>Date de publication&nbsp;:</span> <time datetime="2016-03-20">20-03-2016</time></p>
                        <p class="cour-category"><i class="material-icons">label</i><span>Niveau&nbsp:</span> Physique - L1</p>
                    </div>
                    <div class="cour-actions">
                        
                        <p class="cour-actions-links">
                            <a href="#" class="transition-hover">Modifier</a>
                            <a href="#" class="transition-hover">Supprimer</a>
                        </p>
                    </div>
                </article>
            </li>
            <li>
                <article>
                    <div class="cour-infos">
                        <h3 class="cour-title"><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque odio tempore ut</a></h3>
                        <p class="cour-date"><i class="material-icons">today</i><span>Date de publication&nbsp;:</span> <time datetime="2016-03-20">20-03-2016</time></p>
                        <p class="cour-category"><i class="material-icons">label</i><span>Niveau&nbsp:</span> Physique - L1</p>
                    </div>
                    <div class="cour-actions">
                        
                        <p class="cour-actions-links">
                            <a href="#" class="transition-hover">Modifier</a>
                            <a href="#" class="transition-hover">Supprimer</a>
                        </p>
                    </div>
                </article>
            </li>

        </ul>

    </section>
</main>

<footer class="global-footer login-page-footer">
    <div class="container">
        <div class="row">
            <p class="col l6 m12">©StudyShare UJF GTE - 2016</p>
            <ul class="col l6 m12 right-align footer-links">
                <li><a href="#">Mentions légales</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Déconnexion</a></li>
            </ul>
        </div>
    </div>
</footer>
</body>
<script src="http://code.jquery.com/jquery-2.2.0.min.js"></script>
<script src="js/materialize.min.js"></script>
</html>