<!doctype html>
<html lang="fr"><html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>StudyShare</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/materialize.min.css">
    <link rel="stylesheet" href="css/style.css">

</head>
<body class="home-content">

<header class="global-header">
    <nav class="nav-wrapper">
        <h1 class="logo">
            <a>StudyShare <br> <span>Université Joseph Fournier - <strong>Filière GTE</strong></span></a>
        </h1>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li>
                <a class="dropdown-button" href="#!" data-activates="dropdown1">Mathématiques<i class="material-icons right">arrow_drop_down</i></a>
                <ul id="dropdown1" class="dropdown-content">
                    <li><a href="#!">L1</a></li>
                    <li><a href="#!">L2</a></li>
                    <li><a href="#!">L3</a></li>
                    <li><a href="#!">M1</a></li>
                    <li><a href="#!">M2</a></li>
                </ul>
            </li>
            <li>
                <a class="dropdown-button" href="#!" data-activates="dropdown2">Science de l'ingénieur<i class="material-icons right">arrow_drop_down</i></a>
                <ul id="dropdown2" class="dropdown-content">
                    <li><a href="#!">L1</a></li>
                    <li><a href="#!">L2</a></li>
                    <li><a href="#!">L3</a></li>
                    <li><a href="#!">M1</a></li>
                    <li><a href="#!">M2</a></li>
                </ul>

            </li>
            <li>
                <a class="dropdown-button" href="#!" data-activates="dropdown3">Physique<i class="material-icons right">arrow_drop_down</i></a>
                <ul id="dropdown3" class="dropdown-content">
                    <li><a href="#!">L1</a></li>
                    <li><a href="#!">L2</a></li>
                    <li><a href="#!">L3</a></li>
                    <li><a href="#!">M1</a></li>
                    <li><a href="#!">M2</a></li>
                </ul>

            </li>
            <li>
                <a class="dropdown-button" href="#!" data-activates="dropdown4">Anglais<i class="material-icons right">arrow_drop_down</i></a>
                <ul id="dropdown4" class="dropdown-content">
                    <li><a href="#!">L1</a></li>
                    <li><a href="#!">L2</a></li>
                    <li><a href="#!">L3</a></li>
                    <li><a href="#!">M1</a></li>
                    <li><a href="#!">M2</a></li>
                </ul>

            </li>
        </ul>
    </nav>
    <!--USER BLOC-->
    <section class="user-box row">

        <div class="user-box--identity right">

            <img src="img/user.png" alt="user icon" class="user-logo circle">

            <p>
                John Doe - Enseignant - <strong>Chimie</strong><br><a href="#">Modifier mon mot de passe</a>
            </p>
            <a href="#" class="logout">&#x2169;</a>

        </div>
        <div class="user-box--teacher-admin right">
            <ul class="admin-link">
                <li><a href="#"><em class="transition-hover"></em>Ajouter un cours</a></li>
                <li><a href="#"><em class="transition-hover"></em>Gérer mes cours publiés</a></li>
            </ul>
        </div>
    </section>
</header>

<main class="content">
    <section class="top-section no-bottom-style">
        <div class="container center-align">
            <h1>Modifier un cours</h1>
        </div>
    </section>


    <form action="" method="post" class="container form-add-cour">
        <div class="input-field">
            <input id="title" type="text" class="validate" required value="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque odio tempore ut">
            <label for="title">Titre du cours</label>
        </div>

        <div class="input-field">
            <textarea id="description" class="materialize-textarea">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad alias aliquid asperiores consequatur, cum dicta et expedita facere iure molestiae officia rerum velit voluptas voluptates? Consectetur eos facere illo illum magnam, necessitatibus odit totam. Alias aperiam eveniet expedita laudantium nisi nobis nostrum pariatur quis repellendus tempore. Aperiam, numquam repellendus.</textarea>
            <label for="description">Description du cours</label>
        </div>

        <div class="row">
            <div class="input-field col s4">
                <select required>
                    <option value="" disabled selected>Sélectionnez le niveau du cours</option>
                    <optgroup label="Mathématiques">
                        <option value="1">Maths L1</option>
                        <option value="2" selected>Maths L2</option>
                        <option value="3">Maths L3</option>
                        <option value="4">Maths M1</option>
                        <option value="5">Maths M2</option>
                    </optgroup>
                    <optgroup label="Science de l'ingénieur">
                        <option value="6">SI L1</option>
                        <option value="7">SI L2</option>
                        <option value="8">SI L3</option>
                        <option value="9">SI M1</option>
                        <option value="10">SI M2</option>
                    </optgroup>
                    <optgroup label="Physique">
                        <option value="11">Physique L1</option>
                        <option value="12">Physique L2</option>
                        <option value="13">Physique L3</option>
                        <option value="14">Physique M1</option>
                        <option value="15">Physique M2</option>
                    </optgroup>
                    <optgroup label="Anglais">
                        <option value="16">Anglais L1</option>
                        <option value="17">Anglais L2</option>
                        <option value="18">Anglais L3</option>
                        <option value="19">Anglais M1</option>
                        <option value="20">Anglais M2</option>
                    </optgroup>
                </select>
            </div>
        </div>

        <div class="file-field input-field">
            <div class="btn">
                <span>PDF</span>
                <input type="file" required>
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text" placeholder="Télécharger le PDF du cours">
            </div>
        </div>

        <div class="input-field col s3">
            <input type="submit" value="Enregistrer les modifications">
        </div>

    </form>


</main>

<footer class="global-footer login-page-footer">
    <div class="container">
        <div class="row">
            <p class="col l6 m12">©StudyShare UJF GTE - 2016</p>
            <ul class="col l6 m12 right-align footer-links">
                <li><a href="#">Mentions légales</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Déconnexion</a></li>
            </ul>
        </div>
    </div>
</footer>
</body>
<script src="http://code.jquery.com/jquery-2.2.0.min.js"></script>
<script src="js/materialize.min.js"></script>
<script src="js/custom.js"></script>
</html>