<!doctype html>
<html lang="fr"><html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>StudyShare</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/materialize.min.css">
    <link rel="stylesheet" href="css/style.css">

</head>

<body>
<section class="login-page valign-wrapper">
    <div class="login-box valign">
        <h1 class="logo">
            StudyShare <br> <span>Université Joseph Fournier - <strong>Filière GTE</strong></span>
        </h1>
        <p>Renseignez votre email ci-dessous et nous vous enverrons un lien pour créer un nouveau mot de passe.</p>
        <form action="" method="post">
            <div class="input-field">
                <i class="material-icons prefix">perm_identity</i>
                <input type="email" name="email" placeholder="Email">
            </div>
            <div>
                <input type="submit" value="Envoyer">
            </div>
        </form>

    </div>
</section>
</body>

<footer class="global-footer login-page-footer">
    <div class="container">
        <div class="row">
            <p class="col l6 m12">©StudyShare UJF GTE - 2016</p>
            <ul class="col l6 m12 right-align footer-links">
                <li><a href="#">Mentions légales</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Déconnexion</a></li>
            </ul>
        </div>
    </div>
</footer>
</body>
<script src="http://code.jquery.com/jquery-2.2.0.min.js"></script>
<script src="js/materialize.min.js"></script>
<script src="js/custom.js"></script>
</html>