<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>StudyShare</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/materialize.min.css">
    <link rel="stylesheet" href="css/style.css">

</head>
<body class="home-content">

<header class="global-header">
    <nav class="nav-wrapper">
        <h1 class="logo">
            <a>StudyShare fab <br> <span>Université Joseph Fournier - <strong>Filière GTE</strong></span></a>
        </h1>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li>
                <a class="dropdown-button" href="#!" data-activates="dropdown1">Mathématiques<i class="material-icons right">arrow_drop_down</i></a>
                <ul id="dropdown1" class="dropdown-content">
                    <li><a href="#!">L1</a></li>
                    <li><a href="#!">L2</a></li>
                    <li><a href="#!">L3</a></li>
                    <li><a href="#!">M1</a></li>
                    <li><a href="#!">M2</a></li>
                </ul>
            </li>
            <li>
                <a class="dropdown-button" href="#!" data-activates="dropdown2">Science de l'ingénieur<i class="material-icons right">arrow_drop_down</i></a>
                <ul id="dropdown2" class="dropdown-content">
                    <li><a href="#!">L1</a></li>
                    <li><a href="#!">L2</a></li>
                    <li><a href="#!">L3</a></li>
                    <li><a href="#!">M1</a></li>
                    <li><a href="#!">M2</a></li>
                </ul>

            </li>
            <li>
                <a class="dropdown-button" href="#!" data-activates="dropdown3">Physique<i class="material-icons right">arrow_drop_down</i></a>
                <ul id="dropdown3" class="dropdown-content">
                    <li><a href="#!">L1</a></li>
                    <li><a href="#!">L2</a></li>
                    <li><a href="#!">L3</a></li>
                    <li><a href="#!">M1</a></li>
                    <li><a href="#!">M2</a></li>
                </ul>

            </li>
            <li>
                <a class="dropdown-button" href="#!" data-activates="dropdown4">Anglais<i class="material-icons right">arrow_drop_down</i></a>
                <ul id="dropdown4" class="dropdown-content">
                    <li><a href="#!">L1</a></li>
                    <li><a href="#!">L2</a></li>
                    <li><a href="#!">L3</a></li>
                    <li><a href="#!">M1</a></li>
                    <li><a href="#!">M2</a></li>
                </ul>

            </li>
        </ul>
    </nav>
    <!--USER BLOC-->
    <section class="user-box row">
        <div class="user-box--identity right">

            <img src="img/user.png" alt="user icon" class="user-logo circle">

            <p>
                John Doe - Étudiant - <strong>L1 GTE</strong><br><a href="#">Modifier mon mot de passe</a>
            </p>
            <a href="#" class="logout">&#x2169;</a>

        </div>
    </section>
</header>


<main class="content">
    <section class="cour-content">
        <header class="cour-header container">
            <h1 class="cour-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi iure laboriosam repudiandae.</h1>
            <div class="row">
                <p class="cour-author left"><i class="material-icons">perm_identity</i><span>Ajouté par&nbsp;:</span> John Doe - Enseignant en physique</span></p>
                <p class="cour-date left"><i class="material-icons">today</i><span>Date de publication&nbsp;:</span> 02-03-2016</p>
            </div>
        </header>

        <div class="cour-description">
            <p class="container">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aperiam asperiores aut cum cumque dicta ducimus eius est expedita facere laboriosam, minus modi, molestias neque nisi quidem quisquam reprehenderit rerum sed temporibus vel velit, vero.</p>
        </div>
        <div class="cour-pdf-box container">
            <iframe src="documents/test.pdf" frameborder="0" width="100%" height="800px"></iframe>
        </div>
    </section>
    <section class="cour-comments-box container">

        <h2>Sujets de conversations et commentaires</h2>

        <ul class="collapsible cour-subject-list" data-collapsible="accordion">

            <li>
                <h3 class="collapsible-header cour-subject-title"><i class="material-icons">library_books arrow_drop_down</i>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
                <ul class="cour-comments-list collapsible-body">
                    <li class="cour-comment">
                        <header class="cour-comment-header">
                            <h4 class="cour-comment-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, odio!</h4>
                            <div class="row">
                                <p class="cour-comment-author left"><i class="material-icons">perm_identity</i><span>Ajouté par&nbsp;:</span> Jeanne Doe - Etudiante en L1 GTE</p>
                                <p class="cour-comment-date left"><i class="material-icons">today</i><span>Date de publication&nbsp;:</span> 02-03-2016</p>
                            </div>
                        </header>

                        <div class="cour-comment-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aspernatur consectetur dolorem et maiores necessitatibus pariatur praesentium sint? Accusamus animi, ipsam nisi quod quos voluptatem.</p>
                        </div>
                    </li>
                    <li class="cour-comment">
                        <header class="cour-comment-header">
                            <h4 class="cour-comment-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, odio!</h4>
                            <div class="row">
                                <p class="cour-comment-author left"><i class="material-icons">perm_identity</i><span>Ajouté par&nbsp;:</span> Jeanne Doe - Etudiante en L1 GTE</p>
                                <p class="cour-comment-date left"><i class="material-icons">today</i><span>Date de publication&nbsp;:</span> 02-03-2016</p>
                            </div>
                        </header>

                        <div class="cour-comment-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aspernatur consectetur dolorem et maiores necessitatibus pariatur praesentium sint? Accusamus animi, ipsam nisi quod quos voluptatem.</p>
                        </div>
                    </li>
                    <li>
                        <ul class="collapsible new-cour-comment">
                            <li>
                                <p class="collapsible-header btn-floating-box">  <a class="btn-floating btn-large waves-effect waves-light more-btn" title="Ajouter un nouveau commentaire"><i class="material-icons"></i></a></p>

                                <form action="" class="collapsible-body" method="post">
                                    <div class="input-field">
                                        <input type="text" id="CommentTitle">
                                        <label for="CommentTitle">Titre du commentaire</label>
                                    </div>
                                    <div class="input-field">
                                        <textarea id="CommentBody" name="CommentBody" class="materialize-textarea"></textarea>
                                        <label for="CommentBody">Commentaire</label>
                                    </div>

                                    <input type="submit" value="Publier">

                                </form>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>


            <li>
                <h3 class="collapsible-header cour-subject-title"><i class="material-icons">library_books arrow_drop_down</i>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
                <ul class="cour-comments-list collapsible-body">
                    <li class="cour-comment">
                        <header class="cour-comment-header">
                            <h4 class="cour-comment-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, odio!</h4>
                            <div class="row">
                                <p class="cour-comment-author left"><i class="material-icons">perm_identity</i><span>Ajouté par&nbsp;:</span> Jeanne Doe - Etudiante en L1 GTE</p>
                                <p class="cour-comment-date left"><i class="material-icons">today</i><span>Date de publication&nbsp;:</span> 02-03-2016</p>
                            </div>
                        </header>

                        <div class="cour-comment-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aspernatur consectetur dolorem et maiores necessitatibus pariatur praesentium sint? Accusamus animi, ipsam nisi quod quos voluptatem.</p>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>

        <ul class="collapsible new-cour-subject">
            <li class="row">
            <p class="collapsible-header btn-floating-box left">  <a class="btn-floating btn-large waves-effect waves-light red" title="Ajouter un nouveau sujet de conversation"><i class="material-icons"></i></a></p>

                <form action="" method="post" class="collapsible-body col s10">
                    <div class="input-field">
                        <input type="text" id="SubjectTitle">
                        <label for="SubjectTitle">Entrez le titre du sujet de conversation</label>
                    </div>
                    <input type="submit" value="ok" hidden>
                </form>
            </li>
        </ul>

    </section>
</main>
<footer class="global-footer login-page-footer">
    <div class="container">
        <div class="row">
            <p class="col l6 m12">©StudyShare UJF GTE - 2016</p>
            <ul class="col l6 m12 right-align footer-links">
                <li><a href="#">Mentions légales</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Déconnexion</a></li>
            </ul>
        </div>
    </div>
</footer>



</body>

<script src="http://code.jquery.com/jquery-2.2.0.min.js"></script>
<script src="js/materialize.min.js"></script>
<script src="js/custom.js"></script>

</html>